@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 스크롤바의 배경을 없애기 */
::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 배경을 투명하게 설정 */
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfb8; /* 스크롤바의 thumb 색상 */
  border-radius: 10px; /* 스크롤바 thumb의 둥근 모서리 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d2d2a; /* hover 시 thumb 색상 */
}

@layer utilities {
  /* 랜딩페이지 뉴모피즘 시계: components/Home/Clock.tsx */
  .shadow-neumorphism {
    box-shadow: 4px 4px 8px rgba(25, 25, 23, 0.1), -4px -4px 8px #fffaee,
      inset 4px 4px 8px rgba(25, 25, 23, 0.1),
      /* 내부 그림자 추가 */ inset -4px -4px 8px #fffaee; /* 내부 하이라이트 추가 */
  }
  .dark-shadow-neumorphism {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6),
      -4px -4px 8px rgba(255, 255, 255, 0.1),
      inset 4px 4px 8px rgba(0, 0, 0, 0.6),
      inset -4px -4px 8px rgba(255, 255, 255, 0.1);
  }
}
